@clr-text: rgb(81, 188, 18);
@clr-text-hover: rgb(30,30,30);
@clr-border: rgba(90,90,90,0.3);

#main-content{
  .col-md-6{
    .card{
      #repo-container{
        a{
          color: @clr-text;
          border-bottom: 1px solid @clr-border;
        }
        a:hover{
          color: @clr-text-hover;
        }
      }
    }
  }
}